nav {
    color: $gray-200
}

.parallax {
    background-image: url("background.jpg");

    padding: 200px 0 200px;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    text-align: center;
    color: white;
}

.parallax h1 {
    font-size: 50px;
    margin: -30px 0 20px;
}

.parallax h2 {
    font-size: 40px;
    margin-bottom: 40px;
}

.info {
    text-align: center;
    margin-top: 50px;
}

h1 {
    margin: 20px 0 20px;
}

.article img {
    margin: auto;
    width: 150px;
}

#patients {
    margin: auto;
}