{% extends "layout.html" %}

{% block title %}Providers - {% endblock %}

{% block main %}

    <div class="container">
        <h1 class="display-5 mt-2 mb-4 text-center">For Providers</h1>

        <div class="mt-3 mb-4 pb-2 row border-bottom">
            <div class="col-md-8">
                <h1 class="display-6">Want to be part of the community?</h1>
            </div>
            <div class="col-md-2">
                <a href="providers/request" class="btn btn-primary btn-lg btn-block">Submit a Request</a>
            </div>
        </div>
        <div class="mt-3 mb-4 pb-2 row border-bottom">
            <div class="col-md-8">
                <h1 class="display-6">Submit a referral</h1>
            </div>
            <div class="col-md-2">
                <a href="providers/referral" class="btn btn-primary btn-lg btn-block">Submit a referral</a>
            </div>
        </div>
        <div class="mt-3 row">
            <div class="col-md-8">
                <h1 class="display-6">Leave us feedback, how can we do better?</h1>
            </div>
            <div class="col-md-2">
                <a href="/contact" class="btn btn-primary btn-lg btn-block">Send a message</a>
            </div>
        </div>
    </div>

{% endblock %}